.film-week {
  padding: 60px 0;
}

.film-week__content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.film-week__poster {
  margin-bottom: 25px;
  width: 100%;
  border-radius: 10px;
}
.film-week__title {
  margin-right: 35px;
  font-family: Raleway, sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.166;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.film-week__tagline {
  padding-top: 10px;
  margin-right: auto;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0%;
  opacity: 0.6;
}
.film-week__watch-btn {
  width: 375px;
  height: 72px;
  font-size: 18px;
  line-height: 1.22;
  background-color: var(--color-second);
  border-radius: 6px;
  color: var(--color-text);
  border: none;
  transition: outline 0.3s ease-in-out;
}

.film-week__watch-btn:active {
  outline: 1px solid var(--color-primary);
  transform: scale(0.99);
}

.film-week__watch-btn:focus {
  outline: 1px solid var(--color-primary);
  outline-offset: -4px;
}

.film-week__watch-trailer {
  width: 104px;
  height: 72px;
  background-color: var(--color-second);
  background-image: url('./../img/play.svg');
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 6px;
}

.film-week__watch-trailer:focus,
.film-week__watch-trailer:active {
  outline: 1px solid var(--color-primary);
}

@media (max-width: 1280px) {
  .film-week__title {
    margin-right: auto;
  }
  .film-week__tagline {
    order: 1;
    flex-basis: 40%;
    padding-top: 0;
  }
}

@media (max-width: 1000px) {
  .film-week__watch-trailer {
    order: 1;
    height: 50px;
  }
}

@media (max-width: 860px) {
  .film-week__tagline {
    flex-basis: 100%;
    font-size: 16px;
  }
  .film-week__watch-btn {
    height: 50px;
  }
}

@media (max-width: 480px) {
  .film-week__watch-btn {
    width: 100%;
  }
}
